* {
    margin: 0;
    padding: 0;
}

/*CUSTOM CSS*/
body {
    overflow-x: hidden;
    background: #f6f6f6;
    font-family: sans-serif;
}

hr {
    height: 4px;
    width: 100px;
    text-align: center;
    position: relative;
    background: #03294e;
    margin: 0 auto;
    margin-bottom: 30px;
    border: 0;
}

/************************************
        Navbar Section
************************************/
.bor-bot li a:hover {
    color: #023770;
    padding-bottom: 2px;
    border-bottom: #fff 5px solid;
}

.nav-link {
    font-size: 18.5px;
    font-family: sans-serif;
    text-transform: capitalize;
    padding-left: 1em !important;
    padding-right: 1em !important;
    color: #03294e;
    font-weight: 600;
}

.bg-dark {
    background: linear-gradient(to bottom, #fece00 10%, #e3b700 100%);

}

.social {
    margin-left: 1.3rem;

}

.social .fa {
    color: #03294e;
    margin-right: 1rem;
}

.mrc-5 {
    margin-right: 1rem;
}

/*************************************
            Home Section
*************************************/




#home-bg-video {
    /*    margin: 0 auto;*/
    /*
    margin-: auto;
    margin-left: auto;
*/
    /*    width: 100%;*/
    /*    height: 100%; */
    margin-top: 3rem;
    margin-left: auto;
    margin-right: auto;
    display: block;



}


.home-video {
    background-color: #fff;
    padding-bottom: 2rem;
    margin-bottom: 8rem;
}

/*************************************
            Carousel Section
*************************************/
.carouselsection {
    /*    margin-top: 3rem;*/
    margin-bottom: 8rem;
}

/*************************************
            About Us Section
*************************************/
#about {
    margin-bottom: 8rem;
}

.mtc {
    margin-top: 10rem;
}

.backimg {
    background-image: url(../Images/yellow-and-and-blue-colored-pencils-1762851.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding-bottom: 14rem;
}

.lh-cus {
    line-height: 1.6;
    font-size: 18px;
    padding: 3px;
}

.flip-box {
    width: 300px;
    height: 200px;
    perspective: 1000px;

}

.flip-box-inner {
    position: relative;
    width: 24rem;
    height: 28rem;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;

}

.flip-box:hover .flip-box-inner {
    transform: rotateY(180deg);
}

.flip-box-front,
.flip-box-back {
    position: absolute;


    -webkit-backface-visibility: hidden;

    backface-visibility: hidden;
}

/* Style the front side */
.flip-box-front {
    background-color: #B49C69;
    padding: 10px;
    color: black;
}

.cus-img {
    width: 26rem;
    height: 28rem;
}

/* Style the back side */
.flip-box-back {
    background-color: dodgerblue;
    color: white;
    transform: rotateY(180deg);
    width: 24rem;
    height: 26rem;
}

.cus-color {
    color: #000;
}

.cus-flip {
    margin-left: 8rem;
    margin-top: 6rem;
}

.mtc h1,
h2,
h3 {
    color: #fff;
}

/*************************************
            Our Products Section
*************************************/
.img-wrapper img:hover {
    transform: scale(1.3);
    cursor: pointer;
}

.img-wrapper {
    overflow: hidden;
}

.img-wrapper img {
    transition: transform .5s ease;
}

/*************************************
            ContactUs Section
*************************************/
h5 > .fa {
    color: #03294e;
    ;
}

#contact-us {
    color: #333;
}

#contact-us .fa:hover {
    animation: spinAround 2s linear alternate;
}

@keyframes spinAround {
    from {
        transform: rotate(0deg)
    }

    to {
        transform: rotate(360deg);
    }
}


.btn-submit {
    background: #023770;
    color: #fff;
}

.btn-submit:hover {
    background: #01519c;
    color: #fff;
}

.custom-card {
    background-color: #f6f6f6;
    border: none;
}

#contact-us {
    visibility: visible;
    animation-duration: 2s;
    animation-delay: 0.4s;
    animation-name: fadeInRight;
    animation-play-state: running;
}

/*************************************
            Footer Section
*************************************/

#main-footer {
    background-color: #023770;
    color: #fff;
}
